body {
  background: #f3e9f1;
}

h1 {
  text-align: center;
  margin: 1% auto 5%;
  width: 100%;
}

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button {
  display: block;
  padding: 10px 40px;
  margin: 4% auto;
  border-radius: 15px;
  background-color: #d5c4fd;
  border: none;
  cursor: pointer;
}

#customBoxContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(228, 138, 37, 0.5);
}

#customBoxContainer .custom-box {
  border: 2px solid grey;
  text-align: center;
  padding: 10px;
  width: 35%;
  background-color: white;
  margin: auto;
}

#customBoxContainer .custom-box div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#container {
  width: 90%;
  height: 100%;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.error p, .error h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0;
}

.error i {
  font-size: 5rem;
  line-height: 5rem;
  color: #e48a25;
}

header {
  width: 90%;
  margin: 3% auto 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header ul {
  padding: 0 2px;
  position: relative;
}

header ul li {
  list-style: none;
}

header ul p {
  margin: 0;
  width: 18px;
  height: 18px;
  text-align: center;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 20%;
  left: 49%;
  z-index: 2;
}

header img {
  text-align: left;
  max-width: 75%;
}

.fa-shopping-cart {
  color: #8f61fa;
  font-size: 3rem;
}

footer {
  width: 90%;
  margin: 2% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer p {
  margin-right: 3rem;
}

#container a {
  width: 45%;
  min-width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 3% 0;
  text-align: center;
  color: black;
  text-decoration: none;
}

#container a article {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  background-color: #e48a25;
}

#container a article div {
  width: 100%;
  height: auto;
  overflow: hidden;
}

#container a article div img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

#container a article h2 {
  text-align: center;
}

.detailProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 3% 0;
}

.detailProduct div {
  width: 45%;
  min-width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
}

.detailProduct div img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.detailProduct div select {
  display: block;
  margin: 2% auto;
}

#listProductBought {
  width: 100%;
}

#listProductBought .basket {
  margin: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#listProductBought .basket div {
  width: 25%;
}

#listProductBought .basket div img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#listProductBought .basket h2 {
  width: 30%;
  background: none;
}

#listProductBought .basket p {
  width: 15%;
  background: none;
}

#form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#form form {
  width: 100%;
}

#form form label {
  display: inline-block;
  width: 20%;
}

#form form input {
  width: 70%;
}

#command {
  text-align: center;
}

#command .commandConfirmation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#command .commandNumber {
  font-weight: bold;
  color: #e48a25;
  padding-left: 2%;
}

#command #totalPrice {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */