#command{
    text-align: center;
    .commandConfirmation{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .commandNumber{
        font-weight:bold;
        color:$color-secondary;
        padding-left:2%;
    }
    #totalPrice{
        text-align: center;
    }
    
}

