#command {
    text-align: center;
    min-height: 100%;

    .commandConfirmation {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .commandNumber {
        font-weight: bold;
        color: $color-secondary;
    }

    #totalPrice {
        text-align: center;
    }

}