#listProductBought {
    width: 100%;

    .basket {
        margin: 5% 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        background: none;
        box-sizing: border-box;

        div {
            width: 25%;

            img {
                width: 100%;
                object-fit: cover;
            }
        }

        h2 {
            width: 30%;
            background: none;
        }

        p {
            width: 15%;
            background: none;
        }
    }
}