button{
    display: block;
    padding: 2% 4%;
    margin: 4% auto;
    border-radius: 15px;
    background-color: lighten($color: $color-primary, $amount: 20);
    border: none;
    cursor: pointer;
}