#customBoxContainer{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(228,138,37,0.5);
    .custom-box {
        border: 2px solid grey;
        text-align: center;
        padding: 10px;
        width: 35%;
        background-color: white;
        margin: auto;
        div{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}