html{
    min-height: 100%;
}

body {
    background: $color-tertiary;
    min-height: 100%;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin: 5% auto;
    width: 100%;
}

.flex-center{
    justify-content: center;
}